/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-bar {
  position: fixed;
}
.nav-bar nav {
  display: flex;
  flex-direction: column;
}
.nav-bar nav {
  display: none;
}
.nav-bar .exit {
  display: none;
}
header {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: rgba(0, 0, 0, 0.788);
  padding-top: 300px;
}
header h2 {
  font-size: 40px;
  color: pink;
}
header h1 {
  font-size: 80px;
  color: whitesmoke;
}
header .developer-title {
  display: flex;
  color: whitesmoke;
}
header .developer-title h2 {
  margin: 10px 0;
  font-size: 30px;
  padding: 0 10px;
  color: whitesmoke;
  border-left: 1px solid whitesmoke;
  border-right: 1px solid whitesmoke;
}
header button {
  color: whitesmoke;
  font-size: 20px;
  padding: 20px 30px;
  margin-top: 30px;
  border: 4px solid darkslategray;
  background: rgba(80, 80, 80, 0.521);
}
header .social-media {
  margin-top: 150px;
  font-size: 50px;
  color: whitesmoke;
  display: flex;
}
header .social-media i {
  margin: 20px;
}
